.Option {
    cursor: pointer;
    width: 50%;
    margin-bottom: 20px;
    padding-right: 20px;
}

.Option__input {
    display: none;
    position: relative;
    align-self: flex-start;
}

.Option__label {
    font-family: 'Garet', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.2;

    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 365px;
    width: 100%;
    padding: 20px;
    border-radius: 60px;
    border: 2px solid var(--white);
    background-color: var(--white);

    transition: background-color 0.2s ease;
}

.Option:hover .Option__label {
    background-color: #eee;
}

.Option__label--active {
    border-color: var(--gold);
}

.Option__input:checked + .Option__label {
    border-color: var(--gold);
}

@media screen and (max-width: 1700px) {
    .Option__label {
        font-size: 16px;
        max-width: 335px;
        border-radius: 100px;
    }
}

@media screen and (max-width: 1050px) {
    .Option {
        margin-bottom: 15px;
        padding-right: 15px;
    }

    .Option__label {
        font-size: 14px;
        max-width: 280px;
        border-radius: 100px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .Option:hover .Option__label {
        background-color: var(--white);
    }
}

@media screen and (max-width: 480px) {
    .Option {
        padding-right: 0;
        width: 100%;
    }

    .Option__label {
        max-width: 100%;
        border-radius: 100px;
        padding-top: 18px;
        padding-bottom: 18px;
    }
}