:root {
    --white: #FFFFFF;
    --gold: #CDB891;
    --black: #292F3B;
    --cream: #EFEDE2;
    --blue: #DDE6ED;
    --bright-blue: #ADC7DB;
    --turquoise: #4E829C;
    --grey: #9A9A9A;
    --red: #CE3939;
    --cream-white: #F9F9F9;
    --general-font: "Montserrat", sans-serif;
}