.imageWrapper {
    position: relative;
    height: auto;
    overflow: hidden;
  }

.image {
    position: relative;
}

.image__zoom {
    transform: scale(1.3);
    transition: transform 800ms ease;
}

.image__zoom--out {
    transform: scale(1);
}