.planetItem {
    width: 313px;
    opacity: 0;
    pointer-events: none;

    transition: opacity 200ms ease;
    background-color: var(--white);
    border-radius: 16px;
}

.planetItem--active {
    opacity: 1;
    pointer-events: all;
}

.planetItem__inner {
    display: flex;
    flex-direction: column;
    padding: 16px 16px 22px 16px;
}

.planetItem__imgWrapper {
    max-width: 100%;
    height: 252px;
    border-radius: 8px;
    margin-bottom: 24px;
}

.planetItem__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.planetItem__dataWrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.planetItem__dataWrapper:after {
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    width: 1px;
    height: 100%;
    background-color: var(--grey);
    opacity: 0.3;
}

.planetItem__column {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 45%;
}

.planetItem__subtitle {
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 2px;
    color: var(--grey);
}

.planetItem__data {
    font-size: 23px;
    margin: 0;
    color: var(--black);

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.planetItem__data--gold {
    color: var(--gold);
}

@media screen and (max-width: 1700px) {
    .planetItem {
        max-width: 270px;
    }

    .planetItem__imgWrapper {
        height: 210px;
    }


    .planetItem__data {
        font-size: 19px;
    }

}

@media screen and (max-width: 950px) {

    .planetItem {
        width: 235px;
    }

    .planetItem__inner {
        padding: 10px 10px 20px 10px;
    }

    .planetItem__imgWrapper {
        height: 200px;
        margin-bottom: 20px;
    }

    .planetItem__subtitle {
        font-size: 12px;
    }

    .planetItem__data {
        font-size: 16px;
    }

}

@media screen and (max-width: 540px) {
    .planetItem__imgWrapper {
        height: 170px;
        margin-bottom: 24px;
    }
}